@using SlackAPI.Models
@model Foosinator.Models.CreatePlayerViewModel

@{
    ViewBag.Title = "Add";
}

<h2>Add a player</h2>

@foreach (Member member in Model.Members)
{
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <div class="row">
                    <div class="col-md-3">
                        <a href="/player/add/@member.Id">
                            <img src="@member.Profile.Image192" />
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="/player/add/@member.Id">
                            <h1>@member.Name</h1>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
}
